.signup {
    margin: 0 25% 50px 20%;
    text-align: center;
    .signup__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
        .signup__input {
            margin-top:0;
            margin-bottom: 10px;
            label {
                font-size: 1.5rem;
                line-height: 0.89rem;
            }
        }
    }
    .signup__btn {
        padding: 10px 30px;
    }
}

